.userHome{
    margin: 2rem;
    h1{
        text-align: center;
        margin: 1rem;
    }
    ul{
        list-style: none;
        border: 1px solid #000;
        border-radius: 4px;
        padding: 2rem;
        li{
            span{
                padding: 0 1rem;
            }
        }
    }
}